@font-face {
    font-family: 'Platypi Italic';
    src: url('fonts/Platypi-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Platypi';
    src: url('fonts/Platypi-VariableFont_wght.ttf');
}

html, black {
    background-color: black;
}

body {
    font-family: "Platypi", ui-sans-serif;
    font-size: 1.2rem;
}

body, a, .quote, .tabs, .section, .music-icon, .content, .btc-input {
    color: rgba(175, 175, 175, 1);
}

header {
    padding: 2rem 1rem 1rem;
    text-align: center;
}


h1, .link-text {
    font-family: "Platypi", ui-serif;
    font-weight: normal;
}

h1, strong, .card-header-title {
    color: rgba(196, 196, 196, 1);
    font-weight: 600;
}

.tabs {
    padding-top: 1rem;
}

.main {
    display: block;
    padding: 1rem 2rem;
}

.card, .footer {
    background-color: rgba(26, 26, 26, 1);
    box-shadow: none;
}

.card-title, .card-content {
    padding: 1rem;
}

.about-content {
    text-align: justify;
}

.songkick-contentarea {
    padding-top: 0;
}

h1 {
    font-size: 3rem;
}

p {
    padding: 1rem;
}

.quote {
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;
}

.link-text {
    text-decoration: underline;
}

.icon-text {
    color: rgba(212, 212, 212, 1);
}

a:hover, .icon-text:hover {
    color: rgba(204, 188, 47, 1);
}

.social {
    padding-top: 2rem;
    text-align: center;
}

ul, li {
    list-style-type: none;
}

li {
    padding-bottom: 1rem;
}

.btc-icon {
    color: rgba(255, 153, 0, 1) !important;
}

.lightning-icon {
    color: rgba(124, 19, 246, 1);
    margin-left: 0.6rem;
}

.money-icon {
    color: rgb(12, 215, 118);
}

.tips-title-spacer {
    padding-left: 1rem;
}

.btc-input {
    text-overflow: ellipsis;
    background-color: rgba(26, 26, 26, 1);
    border-color: rgba(175, 175, 175, 0);
}

.is-active {
    color: rgba(15, 190, 255, 1);
}

.email-icon {
    margin-top: 0.5rem;
}
