@font-face {
    font-family: 'Platypi Italic';
    src: url('fonts/Platypi-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Platypi';
    src: url('fonts/Platypi-VariableFont_wght.ttf');
}

body {
    font-family: "Platypi", ui-sans-serif;
    background-color: black;
    font-size: 1.2rem;
}

body, a, .quote {
    color: rgba(175, 175, 175, 1);
}

h1, .link-text {
    font-family: "Platypi", ui-serif;
    font-weight: normal;
}

h1, strong {
    color: rgba(196, 196, 196, 1);
}

section {
    background-color: rgba(26, 26, 26, 1);
    color: rgba(175, 175, 175, 1);
}

header {
    padding: 3rem 1rem 3rem;
    text-align: center;
}

footer {
    font-size: 1rem;
    padding: 1rem 0 4rem;
    margin-left: 1rem;
}

.content {
    padding-top: 4rem;
}

.about {
    text-align: justify;
}

.about-czech {
    padding-top: 2rem;
}

#spacer {
    width: 70px;
}

h1 {
    font-size: 3rem;
}

p {
    padding: 1rem;
}

.quote {
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;
}

.link-text {
    text-decoration: underline;
}

.link-text:hover {
    color: rgba(204, 188, 47, 1);
}

.icon-text-content {
    padding-left: 0.5rem;
}

.email {
    padding-left: 0;
}

.email-icon {
    padding-right: 0.5rem;
}
